::-webkit-scrollbar{
    display:none;
    }
    
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url('../images/bg.jpg');
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; 
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 20px;
    width: 550px;
    min-height: 270px;
    max-height: 270px;
    border: 2px solid #fabaaf;
    background: #c64c0c;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 31.2%;
    transform: translate(-50%, -50%);
}

h1 {
    margin-bottom: 1px;
    margin-top: 0px;
    text-align: center;
    color: #fabaaf;
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
}

p {
    margin: 0px;
    text-align: center;
    color: #fabaaf;
    font-family: 'VT323', monospace;
    font-size: 25px;
}

.enterItems {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin: 0px;
}

.inputBox {
    width: 400px;
    height: 25px;
    margin-right: 10px;
    background-color: #c64c0c;
    border: 2px solid #000000;
    outline: none;
    font-size: 20px;
    padding-left: 5px;
    font-family: 'VT323', monospace;
}

.button {
    color: #fc999b;
    border: 3px solid #ffffff;
    background-color: #c64c0c;
    margin-top: 2px;
    padding: 1px 10px;
    font-family: 'VT323', monospace;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    transition: background 0.5s;
}

.checkedButton {
    border: 2px solid #000000;
    background-color: #c64c0c;
    color: #ffffff;
}

#itemsContainer {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    }

.itemsList {
    font-size: 16px;
    height: 120px;
    overflow: scroll;
    margin-top: 5px;
}

ol {
    margin-top: 0px;
}

ol li {
    padding: 7px 0px 2px 2px;
    position: relative;
    font-family: 'Aldrich', sans-serif;
}

ol li span {
    margin-left: 5px;
    font-family: 'Aldrich', sans-serif;
}

.deleteButton {
    background: url('../images/delete.png');
    height: 16px;
    width: 16px;
    border: 0px;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    display: none;
}

ol li:hover .deleteButton {
    display: inline-block;
}

.btnContainer {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

#all, #active, #completed, #clear {
    margin-left: 15px;
}

.button:hover {
    border: 3px solid #5f5f5f;
}

.buttonPressed {
    border: 3px solid #5f5f5f;
}